{% extends 'base.html.twig' %}

{% block title %}Work Flow{% endblock %}

{% block body %}


<head>

    <meta content="" name="keywords">
    <meta content="" name="description">
    
</head>


<body>
<!-- Table Start -->
{{ include('_navbar.html.twig') }}
<div class="container-fluid pt-0 px-3">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4 text-center text-uppercase">Rapport général</h3>
                <div class="table-responsive col-8 mx-auto">
                {# On boucle sur les lignes du fait #}
                {% for fait in faits %}
                    {% if not (faits is empty) %}
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="col-4">Géographie</th>
                                <th class="col-4">Canal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-4">{{ fait.geographie.getPays()|capitalize}}</td>
                                <td class="col-4">{{ fait.canal.getTypeCanal()|capitalize }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                        <p>Il n'y a aucune ligne dans votre grille budgétaire. </br></p>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
</body>
{% endblock %}
