{% extends "base.html.twig" %}

{% block titile %}Erreur serveur {% endblock %}

{% block body %}
    <!-- 404 Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">500</h1>
                <h1 class="mb-4">Erreur serveur </h1>
                <p class="mb-4">Nous sommes désolés, une erreur interne du serveur à été détecté.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{{ path('app_login') }}">Retourner à la page de connexion</a>
            </div>
        </div>
    </div>
    <!-- 404 End -->
{% endblock %}